/* Cell of the Cell Grid */

body{
    text-align: center;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.cell{
    height: 120px;
    width: 120px;
    border: 2px solid;
    cursor: pointer;
    font-size: 5rem;
    text-align: center;
}

/* Cells are in columns, to make 3x3 grid */
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
}

button{
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 17px;
    border-radius: 10px;
    border: 0;
    background-color: aquamarine;
    cursor: pointer;
    transition: transform ease 300ms;
}

button:hover{
    background-color: greenyellow;
    transform: translateY(-10px);
}